
*{
    margin: 0 auto;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navegador */
#logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 30px;
}

.padre{
    display: inline-block;
    padding: 10px 20px 10px 20px ;
    font-size: 13px;
    font-weight: 600;
    border: 3px solid #B5FFD9;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 8px;
    color: white;
    margin-left: 50px;
    transition: all .45s ease-in-out;
}
.padre i{
    font-size: 12px;
    margin-right: 6px;
    color: rgb(18, 216, 133);
    
}
.padre:last-child{
    margin-right: 25px;
}
nav{
    background-color: #170055;
    display: flex;
    justify-content: flex-end;

    
}
#cintillo{
    width: 100%;
    height: 8px;
    
}

.padre:hover{ 
    transition: all .45s ease-in-out;
    transform: translateY(-3px);
    box-shadow: -2px 4px 2px  rgb(18, 216, 133);
    
}


/* Slider */

.banner{
	position: relative;
	width: 100%;
	height: calc(100vh);
	background-color: #6418a3;
	background-size: cover;
	background-position: center;
	transition: all .1s ease-out;
	background-image: url('../img/banner1.jpg');
	animation: banner 28s infinite linear;
}
.banner-content{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	color: #FFF;
	background-color: rgba(0, 22, 40, .6);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.banner-content a:hover{
	background-color: #0eeb79;
	color: #333;
    font-weight: 600;
}
@keyframes banner{
	0%{
		background-image: url('../img/banner-1.jpg');
	}
	25%{
		background-image: url('../img/logo practica.jpg');
	}


	26%{
		background-image: url('../assets/img/banner-2.jpg');
	}
	50%{
		background-image: url('../assets/img/banner-2.jpg');
	}


	51%{
		background-image: url('../assets/img/banner-3.jpg');
	}
	75%{
		background-image: url('../assets/img/banner-3.jpg');
	}
	

	76%{
		background-image: url('../assets/img/banner-4.jpg');
	}
	100%{
		background-image: url('../assets/img/banner-4.jpg');
	}

}






/* Footer */
