
*{
    margin: 0 auto;
    padding: 0px;
}

/* Navegador */
#logo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 30px;
}

.padre{
    display: inline-block;
    padding: 10px 20px 10px 20px ;
    font-size: 13px;
    font-weight: 600;
    border: 3px solid #B5FFD9;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 8px;
    color: white;
    margin-left: 50px;
}
.padre i{
    font-size: 12px;
    margin-right: 6px;
    color: rgb(18, 216, 133);
}
.padre:last-child{
    margin-right: 25px;
}
nav{
    background-color: #170055;
    display: flex;
    justify-content: flex-end;
    border-bottom: 8px solid transparent;
    border-image: linear-gradient(to right, #07db6e, #AE00FB) 1;
    
}

.padre:hover{ 
    transition: all .9s ease-in-out;
    transform: translate(10px,-5px);
  
    
   
}

/* Slider */
section h1{
    text-align: center;
}